li.done span {
  text-decoration: line-through;
  color: gray;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#task-list li span {
  flex: 1;
}
