<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Document</title>
    <link href="todo.css" rel="stylesheet">
</head>
<body>
    <div class="div-background">
        <div class="main-title">
            <h4>Today's tasks</h4>
            <p>today's date~~~</p>
        </div>

        <div class="main-content">
            <form class="main-form">
                <input type="text" placeholder="Add a new task..." class="input-task">
                <button class="add-task"></button>
            </form>
            <div class="div-task">
                <form class="relative">
                    <label class="finish-task">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <p class="todo-task">Example</p>
                    <button class="delete-btn">삭제</button>
                    <button class="edit-btn">편집</button>
                </form>
            </div>
        </div>
    </div> 
    
</body>
</html>