<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Document</title>
    <link href="todo.css" rel="stylesheet">
</head>
<body>
    <div class="div-background">
        <div class="main-title">
            <h4>Today's tasks</h4>
            <p id="today-date">today's date~~~</p>
        </div>

        <div class="main-content">
            <form class="main-form">
                <input type="text" placeholder="Add a new task..." class="input-task">
                <button class="add-task"></button>
            </form>
            <div class="error-empty">할 일을 입력해주세요.
                <button class="close-btn"></button>
            </div>
            <div class="container-box">

                <!-- task div layout -->

                <!-- <div class="div-task">
                    <form class="relative">
                        <label class="finish-task">
                            <span class="checkmark"></span>
                        </label>
                        <p class="todo-task">Example</p>
                        <button type="button" class="delete-btn">삭제</button>
                    </form>
                </div> -->

            </div>
        </div>
    </div> 

    <script type="module" src="main.js"></script>
    
</body>
</html>